<footer>
  <div class="footer-bg">
    <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-lg-offset-1 col-lg-3 hidden-xs">
            <div class="row">
              <div class="col-xs-12 col-sm-4 nopadding">
                <p class="title_footer">
                  <br class="hidden-xs"><br>
                      About love to learn </p>
              </div>
              <div class="col-xs-6 col-sm-8" id="social-medias">
                <ul class="footer-list">
                    <li>
                      <a href="mailto:contact@lovetolear.com">
                      Contact Us</a>
                    </li>
                  <li>
                    <a href="https://www.lovetolearn.com/pages/privacy-policy">
                      Privacy Policy</a>
                  </li>
                  <li>
                    <a href="https://www.lovetolearn.com/pages/terms-conditions">
                      Terms &amp; Conditions</a>
                  </li>
                  <li>
                    <a href="https://www.lovetolearn.com/help">
                      Help</a>
                  </li>
                </ul>
              </div>
            </div>
            </div>
            <div class="col-xs-12 col-sm-5 hidden-xs">
              <div class="row">
                <div class="col-xs-12 col-sm-3 nopadding">
                  <p class="title_footer">
                    <br><br>
                    Learntips</p>
                </div>
                <div class="col-xs-12 col-sm-9 nopadding-right">
                  <ul class="footer-list">
                    <li>
                      <a href="/how-it-works">
                        How it works</a>
                    </li>
                    <li>
                      <a style="cursor: pointer;" data-toggle="modal" data-target="#invite_modal">
                        Invite a Friend</a>
                    </li>
                    <li>
                      <a style="cursor: pointer;" data-toggle="modal" data-target="#newsletter_modal">
                        Subscribe To Our Newsletter</a>
                    </li>
                    <li>
                      <a style="cursor: pointer;" data-toggle="modal" data-target="#location_modal">
                        Request LB In Your City</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!--mobile part-->
            <div class="col-xs-12 visible-xs">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <p class="title_footer" style="text-align:left;">
                    <br><br>
                        About lovetolearn<br><br>
                  </p>
                </div>
                <div class="col-xs-6 col-sm-4">
                  <p class="title_footer" style="text-align:left;">
                    <br><br>
                        Lovetips<br><br>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-8">
                  <ul class="footer-list">
                      <li>
                        <a href="mailto:contact@lovetolearn.com" "="">
                        Contact Us</a>
                      </li>
                    <li>
                      <a href="https://www.lovetolearn.com/pages/privacy-policy">
                        Privacy Policy</a>
                    </li>
                    <li>
                      <a href="https://www.learningbros.com/pages/terms-conditions">
                        Terms &amp; Conditions</a>
                    </li>
                    <li>
                      <a href="https://www.learningbros.com/help">
                        Help</a>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-6 col-sm-8">
                  <ul class="footer-list">
                    <li>
                      <a href="https://www.learningbros.com/pages/how-it-works">
                        How it works</a>
                    </li>
                    <li>
                      <a style="cursor: pointer;" data-toggle="modal" data-target="#invite_modal">
                        Invite a Bro</a>
                    </li>
                    <li>
                      <a style="cursor: pointer;" data-toggle="modal" data-target="#newsletter_modal">
                        Subscribe To Our Newsletter</a>
                    </li>
                    <li>
                      <a style="cursor: pointer;" data-toggle="modal" data-target="#location_modal">
                        Request LB In Your City</a>
                    </li>
                  </ul>
                </div>
              </div>
              <br>
            </div>
            <!--end of mobile part-->

          <!--block lang + currency start-->
          <div class="col-xs-12 col-sm-2 inputfoot float_rgt nopadding">
            <div class="col-xs-6 col-sm-12 country-lop" style="color: white;">
              <select style="border: 1px; border-color: white; border-style: solid; color: white;" onchange="changeLanguage(this);">

                <option value="en" selected="selected">English</option>

                <option value="zh-hk">繁體</option>
                              </select>
            </div>
            <div class="hidden-xs col-sm-12"><span class="invisible">‌</span></div>
            <!-- <br> -->
            <div class="col-xs-6 col-sm-12 country-lop" style="color: white;">
              <select style="border: 1px; border-color: white; border-style: solid; color: white;" onchange="changeCurrency(this);">

                    <option value="https://www.learningbros.com/change-currency/15" selected="selected">HKD</option>
                              </select>
              <!--<ul class="dropdn">



                                <li selected="selected"><a href="change-currency/15">HKD</a></li>

              </ul>-->
              <!-- $this->session->userdata('currency_type') -->
            </div>
          </div>
          </div>
          <!--block lang + currency stop-->
          <br>
          <!--social network button start-->
          <div class="copy-txt col-md-12 footer-bottom" style="border-bottom: 1px solid #129FDA;">
            <ul class="footer-list">
              <li>
                <li class="col-xs-15"><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a></li>
                <li class="col-xs-15"><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a></li>
                <li class="col-xs-15"><a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a></li>
                <li class="col-xs-15"><a href="mailto:learnup@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a></li>
            </li>
            </ul>
          </div>
          <div class="copy-txt col-md-12 footer-bottom">
            <p style="color: white; font-size: 12px">Copyright 2017. LoveToLearn. All rights reserved.</p>
      </div>
          <!--social network button stop-->
    </div>
  </div>
</footer>
