<div class="lesson">
  <div class="col-sm-3 lesson-card">
   <a class="card" href="<%= lesson_path(lesson) %>">
    <span class="card-category cat-<%= lesson.category_number %>"><%= lesson.category %>
    </span>
    <h2 class="">

    </h2>
  </div>
</div>
